/* index_style.css */

.call_button {
	background-color : #B22222 ;

	display : flex ;
	flex-direction : column;
	justify-content: center; 
	align-items: center;

	height : 120px ;
	width : 120px ;

	border : 2px solid white ;
	border-radius : 50%;
	box-shadow : 0 4px 6px rgba(0,0,0,0.1) ;

	color : white ;
	cursor: pointer ;

}

.call_button:hover{
	filter : brightness(1.05);
	box-shadow : 0px 0px 6px #79F3CA;
}

.call_button:active {
	box-shadow : none ;
	transform : scale(0.98);
}

/* 呼び出し中専用のスタイル */
.call_button.calling {
	background-color: #ff4500 ;
	animation: pulse 1.5s infinite ;
}

@keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0.6; }
	100% { opacity: 1; }
}
